<nav class="navbar navbar-expand-lg nav-var-contenido fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{titleNavBar}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul id="navbar_items" class="navbar-nav">
                <!-- <li class="nav-item">
                    <a (click)="goToComunidad()" class="nav-link spn_text_info a-hover">Comunidad</a>
                </li> -->
                <li class="nav-item">
                    <a (click)="goToMisConsultas()" class="nav-link spn_text_info a-hover">Foro Comunidad</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" id="btn_salir" (click)="salir()" class="btn btn-outline-danger">Salir</button>
                </li>
            </ul>
        </div>
    </div>
</nav>