html, body {
    height: 100%;
  }

.body-contenido{
    background-color:    #fef9e7;
    height: auto;
}


.spn_text_title{
    color: #2c3e50  !important;
}

.spn_text_info{
    color: #85929e !important;
}

.spn_text_info:hover{
    color: #85929e;
    text-decoration: underline !important;
    cursor: pointer !important;
}

.table-text-color{
    color: #2c3e50  !important;
}

.scrollable-div {
    overflow-x: auto;
    white-space: nowrap;
}

.requirement-list li {
    font-size: 0.7rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requirement-list li span {
    color: #6c757d  !important;
}

.card_question{
    color: #6c757d !important;
}

.card_question:hover{
    cursor: pointer !important;
    background-color: aliceblue !important;   
}

.card_response{
    background-color: #f4efdd;
    color: #6c757d !important;
}