.card-header-first{
    background-color:  #abebc6  !important ;
}

.card-header-second{
    background-color:   #d2b4de  !important ;
}

.card-header-third{
    background-color:   #85929e  !important ;
}

.card-header-fourth{
    background-color:  #f5b7b1 !important ;
}

.spn_text_title{
    color: #2c3e50  !important;
}

.spn_text_info{
    color: #85929e !important;
}

.spn_text_info:hover{
    color: #85929e;
    text-decoration: underline !important;
    cursor: pointer !important;
}